name: Auto-merge Dependabot PRs

on:
  pull_request_target:

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: show branch/ref
        run: |
          echo "=== GITHUB_REF = $GITHUB_REF ==="
          echo "=== GITHUB_HEAD_REF = $GITHUB_HEAD_REF ==="
          ls -la . > repo_list.txt

      - name: Approve PR
        run: gh pr review --approve "${{ github.event.pull_request.html_url }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Merge PR
        run: gh pr merge --rebase --auto "${{ github.event.pull_request.html_url }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
