name: Auto-merge Dependabot PRs

on:
  pull_request_target:

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: show branch/ref
        run: |
          echo "=== GITHUB_REF = $GITHUB_REF ==="
          echo "=== GITHUB_HEAD_REF = $GITHUB_HEAD_REF ==="
          ls -la . > repo_list.txt

